<div class="list-group">
  <% 12.times do %>
    <div class="list-group-item">
      <div class="media">
        <a href="#" class="pull-left">
          <img class="media-object" src="http://lorempixel.com/output/nature-q-c-70-70-1.jpg" alt="#">
        </a>
        <div class="media-body">
          <h3 class="media-heading">Media heading font size help! btw what</h3>
          <small>
              Updated on May 22, 2014 in <b>Security issues</b><a href="#"> Last reply</a> by
              <a href="profile.html">Jacobi</a>
            </small>
        </div>
      </div>
    </div>
  <% end %>
  <!-- PAGINATION -->
  <div class="text-center">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
  <!-- END PAGINATION! -->
</div>
