<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <p class="alert alert-danger" role="alert">
    <%= alert %></p>
  </p>
<% end %>
