<!-- FOOTER -->
<nav class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p class="navbar-text">TO BE CONTINUED!</p>
      </div>
    </div>
  </div>
</nav>
<!-- END FOOTER! -->
