<!-- INTRO HEADER -->
<div class="page-header">
  <h1>Get involved now!<small> Ask and answer questions.</small></h1>
  <a href="#" class="btn btn-primary btn-lg btn-warning" role="button">Ask question</a>
  <a href="#" class="btn btn-default btn-lg btn-info" role="button">Explore</a>
</div>
<!-- END INTRO HEADER! -->
