<!-- SIDEBAR -->
<!-- START statistics -->
<div class="forum-statistics">
  <div class="list-group">
    <li class="list-group-item list-group-item-success">
      <b>Forum statistics</b>
    </li>

    <%= link_to(raw("Users <span class='badge'>#{@users}</span>"), root_url , :class => 'list-group-item' ) %>
    <%= link_to(raw("Threads opened <span class='badge'>#{@threads}</span>"), root_url , :class => 'list-group-item' ) %>
    <%= link_to(raw("Total posts <span class='badge'>#{@posts}</span>"), root_url , :class => 'list-group-item' ) %>

  </div>
  <br>
</div>
<!-- END statistics -->

<!-- CATEGORIES -->
<div class="topic-categories">
  <h3>
    <span class="label label-primary">TOP 5 CATEGORIES</span>
  </h3>
  <hr>
  <ul class="list-unstyled">
    <% @top_categories.each do |cat| %>
      <li>
        <b><%= link_to cat.name, root_url %></b>
        <span class="pull-right"><span class="glyphicon glyphicon-star"></span></span>
      </li>
    <% end %>
  </ul>
  <br>
</div>
<!-- END CATEGORIES!-->

<!-- START top users -->
<div class="top-users">
  <h3><span class="label label-danger">TOP 10 USERS</span></h3>
  <hr>

  <ul class="media-list">
    <% 10.times do %>
      <li class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="http://lorempixel.com/output/cats-q-c-40-40-4.jpg" alt="cat">
        </a>
        <div class="media-body">
          <a href="#"><h4 class="media-heading">xxxDarkKnightxxx</h4></a>
          <small>1337 posts</small>
        </div>
      </li>
    <% end %>

  </ul>
</div>
<!-- END top users -->

<!-- END SIDEBAR! -->
